DATABASE_URL="postgresql://postgres:postgres@localhost:5432/ai_chat_assistant?schema=public"
TEST_DATABASE_URL="postgresql://postgres:postgres@localhost:5432/ai_chat_assistant_test?schema=public"
NUXT_PUBLIC_APP_NAME="AIChatAssistant"
AI_CHAT_USE_MOCK_STREAM="true"
